<p class="flash"><%= notice %><%= alert %></p>
<h1>Listing Tweets</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody class="tweet-index">
    <%=render "index" %>
  </tbody>
</table>

<br>

<%= link_to 'New Tweet', new_tweet_path, remote: true %>

<div id="tweet-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
