<% if @active_tab == nil || @active_tab.to_i == 1 %>
  <div class="tab-pane active" id="tab-content-tweet">
<% else %>
  <div class="tab-pane" id="tab-content-tweet">
<% end %>
<div class="container-child col-md-8 col-sm-10 col-xs-10">
  <div id="tweets" class="tweets-index">
    <ul class="page">
      <%= render @user.tweets,{is_show: 1} %>
    </ul>
  </div>
  <div id="tweet-edit-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
  <div id="tweet-show-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
</div>
</div>
