<div class="user-panel">
  <div class="back-blue"></div>
  <div class="back-white"></div>
  <div class="back-white2"></div>
  <div class="user-link">
    <%= link_to user_path( user ) do %>
      <div class="profile-image">
        <%= profile_img_thumb(user) %>
      </div>
      <div class="user-field">
        <%= user.name %>
      </div>
    <% end %>
  </div>
  <div class="follow-button">
    <%= render 'users/follow_form', user: user %>
  </div>
</div>
