.navbar-nav {
  .dropdown .dropdown-toggle {
    .profile-image {
      overflow: hidden;
      img {
        width: 30px;
        height: 30px;
        border-radius:15px;
      }
    }
  }
}
.navbar-default {
  border: 0;
  padding: 0px 25px;
  border-bottom: 1px solid rgba(0,0,0,0.05);
}
.navbar {
  background-color: white;
  color: black;
}
.navbar-default {
  .navbar-nav > li > a {
    vertical-align: middle;
    color: #000;
    &:hover, &:focus {
      color: #1da1f2;
    }
    .fa-2x {
      margin-top: 3px;
    }
  }
  .navbar-nav > .open > a {
    background-color: transparent;
    color: #000;
    &:hover, &:focus {
      background-color: transparent;
      color: #000;
    }
  }
}
